%h1 Listing comments

%table
  %tr
    %th First name
    %th Last name
    %th Email address
    %th Comment
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.first_name
      %td= comment.last_name
      %td= comment.email_address
      %td= comment.comment
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_comment_path
