%p#notice= notice

%p
  %b First name:
  = @comment.first_name
%p
  %b Last name:
  = @comment.last_name
%p
  %b Email address:
  = @comment.email_address
%p
  %b Comment:
  = @comment.comment

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
