= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :alt_phone_number
    = f.text_field :alt_phone_number
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :recipient_name
    = f.text_field :recipient_name
  .field
    = f.label :recipient_phone_number
    = f.text_field :recipient_phone_number
  .field
    = f.label :gift_ind
    = f.check_box :gift_ind
  .field
    = f.label :gift_message
    = f.text_field :gift_message
  .actions
    = f.submit 'Save'
