!!! 5
%html
%head
	= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
	= javascript_include_tag 'rails'
	
	%meta{:name => 'csrf-token', :content => form_authenticity_token}
	%meta{:name => 'csrf-param', :content => 'authenticity_token'}
	
	%title
		=page_title
		
	= stylesheet_link_tag 'layout'
	= stylesheet_link_tag 'style'
	
	/[if lt IE 9]
		= javascript_include_tag 'html5'
%body
	#page
		#header
			#header_logo
			#user_nav
				-if user_signed_in?
					Signed in as 
					= current_user.email
					Not you? 
					= link_to "Sign out", destroy_user_session_path
				-else
					= link_to "Sign up", new_user_registration_path
					or 
					= link_to "Sign in", new_user_session_path	
		#middle
			#topbar
				#navcontainer
				
					%ul#navlist
						%li= link_to 'Menu', products_url
						%li= link_to 'About Us', navigation_about_url
						%li= link_to 'Contact Us', navigation_contact_url
			#main
				
				%p
					.notice
						= notice
				%p
					.alert
						= alert
				= yield
		#footer
			%p All Rights reserved.
